
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Xin Liu - Full Stack Web Developer</title>

    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light"> Xin Liu </span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Xin Liu</h1>
                        <p class="intro-text">Full Stack Web Developer</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>About Me</h2>
                <p>I am a full-stack web developer located in San Francisco Bay Area. I've been specializing in back-end development using Ruby on Rails and front-end development using AngularJS. I am also very interested in mobile app development, data analysis and machine learning techniques.</p>
                <h4>Offline Life</h4>
                <p>I enjoy outdoor sports like skiing, mountain biking, maybe because I stayed several years in Utah and Utah is a heaven to people love outdoor sports. <br>
                I enjoy Sci-Fi movies, maybe because I got a physics degree and I am a big fan of high tech.<br>
                I enjoy soccer game and I cannot think of a reason not loving it.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-xs-12">
                    <h2>Portfolio</h2>
                </div>
                <div class="col-lg-4">
                    <div class="col-xs-12 portfolio">
                    <h4>Danebook</h4>
                    <p>A social networking site supports users’ posting, commenting, liking, friending each other, photo uploading.</p>
                    </div>
                    <div class="col-xs-12">
                    <a target="_blank" href="http://www.danebook.tk" class="btn btn-default btn-lg">Visit Danebook</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-xs-12 portfolio">
                    <h4>Cheaper Ride</h4>
                    <p>A ride-sharing price comparison site which integrated data from multiple ride-sharing company APIs, local taxi rate API, public transit API.</p>
                    </div>
                    <div class="col-xs-12">
                    <a target="_blank" href="https://cheaperride.herokuapp.com" class="btn btn-default btn-lg">Visit Cheaper Ride</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-xs-12 portfolio">
                    <h4>Game Center</h4>
                    <p>A browser game center, includes several classic games like Minesweeper, Tetris, Snake, Breakout etc.</p>
                    </div>
                    <div class="col-xs-12">
                    <a target="_blank" href="https://facingsouth.github.io/project_game_center_browser/home" class="btn btn-default btn-lg">Visit Game Center</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Experience Section -->

    <section id="experience" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Experience</h2>
                <ul>
                    <li>Postdoctoral Researcher - UCSF &nbsp Oct. 2011 – Oct. 2014
                        <ul>
                            <li>Built Machine Learning algorithms able to predict the clinical outcomes of newborn babies with abnormalities, utilizing medical image data and clinical measurement data.</li>
                        </ul>
                    </li>
                    <li>Ph.D. Researcher - University of Utah &nbsp Aug. 2005 – Sep. 2011
                        <ul>
                            <li>Drug delivery research using magnetic resonance imaging. Developed software to control magnetic resonance imaging scanner hardware. Wrote code to process images.</li>
                        </ul>
                    </li>
                </ul>
                <h4>Education and Training</h4>
                <ul>
                    <li>
                    Viking Code School &nbsp (Jun. 2015 - Present)
                        <ul>
                        <li>Design, develop, test and deploy modern web applications using Ruby on rails, jQuery, AngularJS.</li>
                        </ul>
                    </li>
                    <li>University of Utah, Salt Lake City, UT. &nbsp (2011)
                        <ul>
                            <li>Ph.D., Physics  </li>
                        </ul>
                    </li>
                    <li>University of Utah, Salt Lake City, UT. &nbsp (2006)
                        <ul>
                            <li>M.S., Physics    </li>
                        </ul>
                    </li>
                    <li>University of Science and Technology of China (USTC), Hefei, China. &nbsp (2003)
                        <ul>
                            <li>B.S., Physics    </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Tech Skills</h2>
                <%= image_tag "web.png", class: "logo"%>
                <%= image_tag "angular.png", class: "logo"%><br>
                <%= image_tag "ruby.png", class: "logo"%>
                <%= image_tag "rails.png", class: "logo"%>
                <%= image_tag "pg.svg", class: "logo"%>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Feel free to email me if you have anything want to discuss!</p>
                <p><a href="mailto:xin.d.liu@gmail.com">xin.d.liu@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/pub/xin-liu/34/665/2a8" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/facingsouth" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <!-- <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Xin Liu 2015</p>
        </div>
    </footer>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>


</body>

</html>
